<ion-view>
    <div class="bar bar-header">
        <h1 class="title">
            <a href="#/tab/dash">
                <img src="../img/logo.png" align="middle" width="80" />
            </a>
        </h1>
        <div class="bar bar-subheader">
            <div class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Search" ng-model="query.name">
                <i class="clear-search icon ion-ios7-close-empty" ng-show="query.name.length" ng-click="clearSearch()"></i>
            </div>
            <div class="item1 item-input1">
                <label class="formgroup">by:
                    <select ng-model='query.language'>
                        <option value="malayalam">Malayalam</option>
                            <option value="english">English</option>
                            <option value="hindi">Hindi</option>
                            <option value="tamil">Tamil</option>
                    </select>
                </label>
                <label class="formgroup">
                    <input type="radio" ng-model="query.direction" name="direction" checked> ascending
                </label>
                <label class="formgroup">
                    <input type="radio" ng-model="query.direction" name="direction" value="reverse"> discending
                </label>
            </div>
        </div>
    </div>
    <ion-content class="has-subheader padding" >
       <div class="list list-inset">
        <div class="list card" ng-repeat="fish in itemList.fishes | filter: query.name | orderBy: 'fishNameEnglish':query.direction">
            <div class="item item-avatar">
                <h2>{{ fish.fishNameEnglish }}</h2>
            </div>
            <div class="item item-image">
                <img ng-src="{{ fish.fishImage }}">
            </div>
            <p ng-if="fish.fishNameMalayalam.length">
                <b>Malayalam :</b> <span
                    ng-repeat="malayalam in fish.fishNameMalayalam  track by $index">{{ malayalam }}<span
                    ng-show="fish.fishNameMalayalam.length>1">, </span></span>
            </p>
            <p ng-if="fish.fishNameTamil.length">
               <b>Tamil :</b> <span
                ng-repeat="tamil in fish.fishNameTamil  track by $index">{{ tamil }}<span
                ng-show="fish.fishNameTamil.length>1">, </span>
            </p>
            <p ng-if="fish.fishNameHindi.length">
                   <b>Hindi :</b> <span
                    ng-repeat="hindi in fish.fishNameHindi  track by $index">{{ hindi }}<span
                    ng-show="fish.fishNameHindi.length>1">, </span></span>
            </p>
            <p ng-if="fish.fishNameOther.length">
                   <b>Other :</b> <span
                    ng-repeat="other in fish.fishNameOther  track by $index">{{ other }}<span
                    ng-show="fish.fishNameOther.length>1">, </span></span>
            </p>
        </div>
        </div>
        <div ng-show="(itemList.fishes | filter: query.name).length == 0">
            Fish not found !
        </div>
    </ion-content>
</ion-view>
